name: Generate Sunday Sticker v3.0

on:
  workflow_dispatch:
    inputs:
      style:
        description: '貼紙樣式'
        required: true
        default: 'new_year'
        type: string
      text:
        description: '貼紙文字'
        required: false
        default: 'Happy Meow Year'
        type: string
      font_name:
        description: '字型名稱'
        required
